/*==============================================
    05: Feature area
==============================================*/
.section-title h2, .custom-title h2 {
    color:  #081340;
    font-weight:  600;
}
.section-title p {
    width: 600px;
    margin: 41px auto;
    color: #70768e;
    line-height: 30px;
}
.type2.section-title {
    margin-bottom: 69px;
}

.section-title {
    position:  relative;
    margin-bottom: 80px;
    margin-top: -8px;
}
.section-title:after, .custom-title:after{
    content: "";
    position: absolute;
    top: 105%;
    left: 50%;
    transform: translateX(-50%);
    background-image: url('../images/icons/line.png');
    width: 36px;
    height: 7px;
}
.type3.section-title:after {
    top: 107px;
}

.section-title span {
    color: #ffa21d;
    font-weight: 400;
    font-size: 24px;
    display: block;
}
.type2.section-title:after {
    left: 0;
    transform: translateX(0%);
}
.single-feature-inner .feature-icon svg {
    width: 55px;
    height: 50px;
}

.single-feature-inner .feature-icon {
    display: inline-block;
    height: 130px;
    width: 130px;
    background: #00c3ed;
    line-height: 130px;
    border-radius: 50%;
    margin-bottom: 20px;
    transition: .3s all linear;
}
.single-feature-inner:hover .feature-icon{
    background: #ffa21d;
}
.single-feature-inner h4 {
    font-weight: 600;
    color: #081340;
    margin-bottom: 30px;
    text-transform: capitalize;
    padding: 0 10px;
    line-height: 30px;
}

.single-feature-inner p {
    margin-bottom: 10px;
    text-transform: inherit;
    font-size: 16px;
    line-height: 30px;
}
.single-feature-inner a {
    font-weight: 500;
    font-size: 16px;
}
.single-feature-inner:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 1px;
    background: #f4f6fb;
    top: 0;
    right: -17px;
}
.single-feature-inner {
    margin-bottom: 30px;
    padding: 0 30px;
    position: relative;
    margin-top: -30px;
}
.single-feature-inner a i {
    margin-right: 10px;
    color: #ffae1d;
}
.single-feature-inner .feature-icon svg path {
    fill: #fff;
}
.row .col-md-6.col-lg-3:last-child .single-feature-inner:after{
    display: none;
}
/*5:01 feature type2*/
.features-inner.type2 {
    background: #dae0ef;
}
.type2 .single-feature h3 {
    color: #222;
    font-weight: 600;
}

.type2 .single-feature svg {
    margin-bottom: 22px;
    height: 64px;
    width: 64px;
}

.type2 .single-feature {
    padding: 0px 50px;
    position: relative;
    margin-bottom: 30px;
}

.features-inner.type2 .col-md-6:last-child .single-feature:after{
    display: none;
}

/*5:02 feature type3*/
.type3 .single-feature:hover {
    box-shadow: 0px 10px 30px rgba(218, 224, 239, .4);
}
.type3 .single-feature {
    padding: 54px 60px 50px;
    border: 1px solid #dae0ef;
    margin-bottom: 30px;
    transition: .3s all linear;
    border-radius: 4px;
}

.type3 .single-feature h4 {
    margin-bottom: 30px;
    font-weight: 600;
}
.type3 .single-feature p {
    margin-bottom: 0;
    font-size: 16px;
    line-height: 30px;
}

img.svg {
    width: 50%;
}
.single-feature.text-center img {
    margin-bottom: 22px;
    width: 40%;
}

.social-icons .fa {
  padding: 15px;
  font-size: 16px;
  width: 45px;
  text-align: center;
  margin: 5px 2px;
  border-radius: 50%;
  text-decoration: none;
}

.social-icons li{
    display: inline;
}

.social-icons .fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}


.top-nav-icons .fa{
    font-size: 2.0em;
}